/* General styles */
@font-face {
    font-family: "BLKCHCRY";
    src: url("fonts/BLKCHCRY.ttf");
}
@font-face {
    font-family: "dragonwick";
    src: url("fonts/dragonwick-fg.ttf");
}
@font-face {
    font-family: "gothenburg";
    src: url("fonts/GothenburgFraktur.ttf");
}
@font-face {
    font-family: "medici";
    src: url("fonts/Medici.ttf");
}
@font-face {
    font-family: "lohengrin";
    src: url("fonts/Lohengrin.ttf");
}

* {
    font-family: 'Roboto Slab', serif;
}



html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

footer {
    padding: 50px;
    background-color: inherit;  
    position: relative;
}

.section {
    overflow-x: hidden;
    padding: 60px;
    background-color: inherit;
}

.section p {
    font-size: 18px;
}

p {
    line-height: 1.5em;
}

#section-kontakt {
    background-image: url("images/kohle.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ************************************************************************ */


/* Navigation */
nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    overflow: hidden;
    padding-top: 60px;
    transition: all linear 0.4s;
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.subsite {
    margin-left: 10px; 
}


@media screen and (max-height: 450px) {
    nav {
        padding-top: 15px;
    }
    nav a {
        font-size: 18px;
    }
}

#openbtn {
    left: 0;
    position: fixed;
    transition: all linear 0.4s;
    z-index: 100;
    font-size: 40px;
    cursor: pointer;
    margin: 10px 20px;
}

#closebtn {
    margin: 15px 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    margin-left: 50px;
}

#slide {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all linear 0.4s;
}
/* ************************************************************************ */


/* Themes */
.theme-black, #picker-black {
    color: white;
    background-color: #111;
    transition: all linear 0.4s;
}
.theme-white, #picker-white {
    color: #333;
    background-color: white;
    transition: all linear 0.4s;
}


.theme-black nav {
    background-color: #0a0a0a;
}
.theme-white nav {
    background-color: #eee;
}

.theme-black h1 {
    text-shadow:
        -0.8px -0.8px 0 black,  
        0.8px -0.8px 0 black,
        -0.8px 0.8px 0 black,
        0.8px 0.8px 0 black;
}

.theme-black h2 {
    text-shadow:
        -0.5px -0.5px 0 black,  
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
}

.theme-white h1 {
    text-shadow:
        -0.5px -0.5px 0 white,  
        0.5px -0.5px 0 white,
        -0.5px 0.5px 0 white,
        0.5px 0.5px 0 white;
}


.theme-black nav a, .theme-black #closebtn {
    color: #818181;
}
.theme-white nav a, .theme-white #closebtn {
    color: #bbb;
}


.theme-black nav a:hover, .theme-black nav a:focus, .theme-black #closebtn:hover, .theme-black nav a.active {
    color: #f1f1f1;
}
.theme-white nav a:hover, .theme-white nav a:focus, .theme-white #closebtn:hover, .theme-white nav a.active {
    color: #555;
}


/* ************************************************************************ */


/* Parallax */
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;    
}

#parallax-1 {
    background-image: url("images/kohle.jpg");
}
#parallax-2 {
    background-image: url("images/parallax2.jpg");
    height: 50%;
}
#parallax-3 {
    background-image: url("images/parallax3.jpg");
    height: 50%;
}

#parallax-404 {
    background-image: url("images/404.jpg");
}

.parallax a {
    color: inherit;
    text-decoration: none;
}

.parallax-title a.parallax-link {
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    text-align: center;
    border: solid white 1px;
    border-radius: 5px;
    margin: 0;
}

.parallax-title {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

.parallax-title h1 {
    font-family: lohengrin;
    font-size: 100px;
    margin: 0 20px 10px 20px;
}

.parallax-title h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 0 20px 30px 20px;
}
/* ************************************************************************ */

/* Kontakt-Form */

form {
    border-radius: 2px;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(20, 20, 20, 0.8);
    /*background-image: url("images/kohle.jpg");*/
    padding: 100px;
}

form h2 {
    margin: 15px;
}

form input{
    height: 30px;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 10px;
    margin: 3px;
}

.form-group {
    margin: 40px 10px;
}

textarea {
    width: 100%;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
    padding: 5px 10px;
    margin: 3px;
}

form select {
    height: 40px;
    border-radius: 2px;
    font-size: 15px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 10px;
    margin: 3px;
    width: 215px;
}

#submit {
    color: #818181;
    background-color: #333;
}

#submit:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
    color: #818181;
    background-color: #363636;
}


/* Fonts */

